

<div class="bookDiv">
    <!-- Book Cover Image -->
    <div class="individualBookCoverDiv" ><img src = "{{book.image}}" height = "450" width = "300"></div>
    
    <div class="bookInfo">
        <!-- Book Title & Author-->
        <h2>{{book.bookTitle}}</h2>
        <h6>by {{book.author}}</h6>
        <br>
        <h4>Reviews</h4>
        <div class="horizontal_line"></div>
        <br>
        <!-- list of reviews -->
        {{#each review }}
            <div class="reviewbox {{revHidden}}">
                <p>{{this.reviewText}}</p>
                <br>
                <p>Reviewer's Rating: {{this.rating}}/10</p>
                <!-- Need to be able to click a username and go to his/her profile-->
                <href>{{this.username}}  </href><span>|  {{this.timestamp}}</span>
            </div>
        {{/each}}
    </div>

</div>
<div class="bookFeatures">
    <br>
    <!-- Links to switch between book details and the review page -->
    <a href="/book/{{book._id}}" class="booklinks">Main Page</a>
    <br>
    <a href="/book/{{book._id}}/review" class="booklinks">Reviews({{numberOfReviews}})</a>
    <br>
    <br>
    <form>
        <select class="styled {{isHidden}}" name="readStatus" onchange="this.form.submit()">

            {{#each readFuncStatus}}
                <option value="{{this.key}}">{{this.val}}</option>
            {{/each}}
        </select>
        
    </form>
    <br>
    <h4>Chapters: {{book.chapters}}</h4>
    <h4>Pages: {{book.pages}}</h4>

</div>
