{{!-- <div class="grid-container justify-content-center" style="min-height: calc(100vh);"> --}}
<div class="grid-container justify-content-center">
    <div class="grid-item size-12@p size-11@l">
        <div class="grid-container justify-content-center">

            {{!-- Latest Books Section Header --}}
            <div style="position:relative; left:-15px;" class="grid-item size-12@p size-9@l">
                <a href="/help/"><button type="button" class="btn btn-primary">Help Page</button></a>
                <h1>Latest Books</h1>
            </div>
            <div style="padding:0;" class="grid-item size-12@p size-3@l align-bottom-parent">
                <div style="padding:0;" class="align-bottom-child align-right">
                    <a href="/searchResults?s=" style="padding:0;" class="color-primary text-small">View More</a>
                </div>
            </div>
            <div style="padding:0; margin-top:0;" class="grid-item size-12@p size-12@l horizontal-line"></div>
    
            {{!-- List of Latest Books (Displays the most recently added books from the database) --}}
            <div style="padding:0;"class="grid-item size-12@p size-12@l">
                <div style="justify-content:space-between; overflow:hidden; height:700px; width:calc(100% + 15px);" class="grid-container">
                    {{#each latest}}
                        <div style="padding-left:0; flex-direction:column; position:relative;" class="grid-item book-item">
                            <a href="/book/{{this._id}}">
                                <img src="{{this.image}}" alt="{{this.bookTitle}}" class="book-cover"/>
                            </a>
                            <a class="book-title" href="/book/{{this._id}}">{{this.bookTitle}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
    
        </div>
    </div>
</div>
